@charset "utf-8";


body{

    margin: 0;
    width: 650px;

}

/*logo */

header{
 
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
}



/*images, wishes */

main{

    height: 386px;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #F8F8F8;
    position: relative;
}

.wishes{
    font-family: Arial;
    margin-top: 51px;
    line-height: 33px;
}

.group1{
    position: relative;
    width: 304px;
    height: 300px;
    top: 56px;
    right: 0;
    position: absolute;
    
}

.group2{
    position: relative;
    width: 390px;
    height: 156px;
    bottom: 56px;
    right: 0px;
    position: absolute;
    
}



/*logo,phone */

section{
    width: 527px;
    padding-top: 34px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    font-family: Arial;
    position: relative;
}

.section{
    display: flex;
    flex-direction: row;
}

.logo-down{
    width: 70%;
}

.phone{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    font-family: Arial;
    line-height: 25px;
}

.phone2 {
    margin-top: 0px;
    right: 0px;
}

ul{
    list-style: none;
    flex-direction: row; 
    text-align: right;
    margin-top: 0px;
}

li{
    display: inline;
    vertical-align: middle;
    padding-left: 8px;
}

.company{
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    color:#828282;
    line-height: 23px;
}



/*website, company */

footer{
    width: 687px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #9613A5;
    color:white;
    text-align: center;
    font-weight: bold;
}

.website{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial;
}
